/*
    优先级:
    id选择器>类选择器>元素选择器（标签选择器）>通用选择器
    外部样式id选择器>内部样式元素选择器（标签选择器）
*/
/*元素选择器*/
p{
    color: red;
}
/*通用选择器*/
*{
    font-size: 20px;
    font-family: "宋体";
}
/*id选择器*/
#t{
    color: yellow;
    font-size: 80px;
}
/*类选择器*/
.m{
    color: aqua;
}